html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vertical-timeline--two-columns .vertical-timeline-element-icon {
  width: 40px !important;
  height: 40px !important;
  box-shadow: none;
}

.vertical-timeline::before {
  width: 2px !important;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  padding: 0;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    margin-left: -22px !important;
  }
}
